@import "tailwindcss";
/* Force the extension popup to be a good size */
html, body {
    width: 450px;      /* Force width */
    height: 600px;     /* Force height */
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Hide ugly scrollbars */
    background-color: #050510;
}

#root {
    width: 100%;
    height: 100%;
}

